{% extends "base.html" %}

{% block content %}
  <div class="d-flex align-items-start">
    <div class="flex-grow-1">
      {% for object in driver_list %}
        <div class="col-sm-4 mb-2">
          <ul class="list-group">
            <li class="list-group-item">
              <a href="{% url "taxi:driver-detail" object.id %}">
                {{ object.first_name }} {{ object.last_name }}
                {% if user.is_authenticated and user.id == object.id %}
                  (Me)
                {% endif %}
              </a>
            </li>
          </ul>
        </div>
      {% endfor %}

      <div class="col-sm-4 mb-2">
        <a href="{% url 'taxi:drivers-create' %}" class="btn btn-outline-primary">
          Add driver
        </a>
      </div>
    </div>
  </div>
{% endblock %}
